/* custom properties */
:root {
    /* colors */
    --primary-violet: hsl(263, 55%, 52%);
    --primary-dk-grayish-blue: hsl(217, 19%, 35%);
    --primary-dk-blackish-blue: hsl(219, 29%, 14%);
    --primary-white: hsl(0, 0%, 100%);

    --neutral-gray: hsl(0, 0%, 81%);
    --neutral-grayish-blue: hsl(210, 46%, 95%);

    /* fonts */
    --ff-barlow: "Barlow Semi Condensed", sans-serif;
    --fw-500: 500;
    --fw-600: 600;
}

/* reset */
html {
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
}
    
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    min-height: 100%;
}
    
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: var(--ff-barlow);
    font-weight: normal;  
}

  /* custom styling */
.content-container {
    /* border: solid 1px red; */
    /* padding: clamp(70px, 12vw, 165px) clamp(24px, 70vw, 165px); */
    padding:clamp(70px, 12vw, 165px) clamp(24px, 6vw, 165px);
    min-width: 100vw;
    /* height: 100vh; */
    background-color: var(--primary-white);
}

section {
    /* border: solid 1px grey; */
    border-radius: 8px;
    padding: 23px 30px;
    padding-bottom: 32px;
    margin-bottom: 1.8rem;
    box-shadow: 0 0 5px hsl(0, 0%, 81%);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
    /* border: solid 1px black; */

}

.pic {
    /* border: solid 2px hsla(263, 33%, 77%, 0.5); */
    border-radius: 25px;
    max-width: 33px;
    display: inline-block;
    margin-right: 16px;
}

.profile-info {
    display: inline-block;   
}

.name {
    font-size: .95em;
    margin-bottom: .25em;
    /* border: solid 1px green; */
}
.credential {
    font-size: .8em;    
}

#svg {
    /* border: solid 1px green; */
    position: absolute;
    top: 0;
    right: 23px;
    z-index: -1;
}

.quote-summary {
    font-size: 1.585em;
    font-weight: 500;
    z-index: 2;
    line-height: 1.15em;
    margin-bottom: 16px;
}

.quote {
    font-size: 13px;
    line-height: 1.4em;
}

#daniel-clifford {
    background-color: var(--primary-violet);
    color: var(--primary-white);
    position: relative;
    z-index: 0;
}

#daniel-clifford .pic {
    border: solid 2px hsla(263, 33%, 77%, 0.5);
}

#daniel-clifford .credential {
    font-size: .8em;
    color: hsla(0, 0%, 100%, 0.5);
        /* border: solid 1px green; */
}

#daniel-clifford .quote-summary {
    z-index: 2;
}

#daniel-clifford .quote {
    color: hsla(0, 0%, 100%, 0.7);
    padding-right: 23px;
}

#jonathan-walters {
    background-color: var(--primary-dk-grayish-blue);
    color: var(--primary-white);
}

#jonathan-walters .quote {
    color: hsla(0, 0%, 100%, 0.7);       
    padding-right: 11px;
    /* border: solid 1px green; */
}

#jeanette-harmon {
    background-color: var(--primary-white);
    color: var(--primary-dk-grayish-blue);
    /* font-weight: 600; */
}

#jeanette-harmon .credential {
    color: hsla(217, 19%, 35%, 0.5);
}

#jeanette-harmon .quote-summary {
    padding-right: 11px;
    /* border: solid 1px green; */
}

#jeanette-harmon .quote {
    color: hsla(217, 19%, 35%, 0.7);       
    padding-right: 11px;
    /* border: solid 1px green; */
}

#patrick-abrams {
    background-color: var(--primary-dk-blackish-blue);
    color: var(--primary-white);
    height: auto;
}

#patrick-abrams .pic {
    border: solid 2px hsla(263, 33%, 77%, 0.5);
}

#patrick-abrams .credential {
    color: hsla(0, 0%, 100%, 0.5);

}

#patrick-abrams .block-quote {
    margin: 0;
    padding-right: 9px;
    color: hsla(0, 0%, 100%, 0.7);
}

.block-quote {
    margin: 0;
    padding-right: 9px;
}

#kira-whittle {
    color: var(--primary-dk-blackish-blue);
}

#kira-whittle .credential{
    color: hsla(219, 29%, 14%, 0.5);
}

#kira-whittle .block-quote {
    margin: 0;
    padding-right: 9px;
    color: hsla(219, 29%, 14%, 0.7);
}

@media(min-width: 1100px) {
    section {
        margin-bottom: 0;
    }

    .content-container {
        display: grid;
        gap: 1.5rem;
        padding: 165px;
        grid-template-columns: repeat(4, 1fr);
        /* padding: 165px; */
    }

    .grid-col-span-2 {
        grid-column: span 2;
    }

    section:last-child {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}